.Show { display: default; }
.Hide {	display: none; }

.Left { float: left; }

body {
	font-family: "Courier New";
	font-size: 14pt;
}

dl dt {
	font-weight: bold;
}

div.Strings div, div.Strings span {
	font-size: 26pt;
}
